@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{    
    background-color: rgb(16, 24, 32);
    font-size: 1.1em;
    height: 60px;
    width: 100%;
    position: fixed; 
    z-index: 999;  
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 800;
    color:#3a6cf4 ;
    text-transform : uppercase;
}
.logo:hover{
    color:#3a6cf4;
}
.navigation a{
    color: #3a6cf4; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 500;
    padding-left: 30px;
    align-items:space-between;
}
.navigation a:hover{
    color: rgb(0, 225, 255);
}

section 
{
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(12.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

.main h2 {
    color: white;
    font-size: 1.4em;
    font-weight: 700;
}
.n{
    color: white;
    font-size: 1em;
    font-weight: 700; 
}
.main h2 span {
    display:inline-block;
    margin-top: 10px;
    color:rgb(255, 255, 255) ;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
}
.main h3{
    color: white;
    font-size: 1.3em;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.main-btn{
    color: white;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.187em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: #0a49f6 ;
    transform: scale(1.1);
}
.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color:rgb(30, 48, 80);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 30px rgba(1,1,1,25%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon {
    color:#3a6cf4;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 8em;
    text-align: center;
}
.icon a {
    color:rgb(30, 48, 80);
}
.icon a :hover{
    color:rgb(30, 48, 80);
}
.info h3 {
 display:flex;
 justify-content: center;
 color:rgb(30, 48, 80);
 margin-bottom: 10px;
}
.footer{
    background-color :#000016;
    display: flex;
    justify-content:space-between;
    padding: 2em;
}

.footertitle{
    color: white;
    padding-right: 800px;
    padding-left: 50px;
    font-size: 1.1em;
    font-weight: 500px;
    letter-spacing: 1px;
}
.footertitle span{
    color:#3a6cf4;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 5px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items:center;
    }
}
@media(max-width:641px){
    body{
        font-size: 12px;
    }
    .main h2{
        font-size: 0.8em;
    }
    .main h3 {
        font-size: 1.4em;
    }
}
@media (max-width:300px){
    body{
        font-size: 10px;
    }
    
}
